* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  position: relative;
  overflow: hidden;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}
h1, h2 {
  font-weight: normal;
}
h1 {
  font-size: 34px;
  text-transform: capitalize;
}
h2 {
  margin: 10px 0 2em;
  font-size: inherit;
}
a {
  text-transform: capitalize;
  text-decoration: none;
  &:hover {
    color: #5788fe;
  }
}
h2, a {
  color: #999;
}
li {
  list-style: none;
  line-height: 2em;
  letter-spacing: 2px;
}

#canvas{
  position:fixed;
  top:0;
  left:0;
  z-index:-100;
  width:100%;
}
.container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  line-height: 1;
  margin-top: -73.5px;
  text-align: center;
}